.App {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}



.home {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/home.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 47px 154px 246px 0px black inset;
  justify-content: flex-start;
}

.navigation{
  width: 100%;
  height: 20%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.netflix{
  width: 20%;
  height: 100%;
}

.user{
  width: 20%;
height: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.lingual{
  width: 30%;
  height: 40%;
  border: 1px white solid;
  border-radius: 0;
}

.signin{
  width: 30%;
  height: 40%;
  margin-right: 50px;
  background-color: #db0510;
border-radius: 2px;
}

.brief{
  width: 100vw;
  height: 30%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 100px;
}

.shows{
  font-size: 55px;
  font-weight: 700;
  max-width: 40%;
  margin-bottom: -5px;
  text-align: center;
}

.watch{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.membership{
  font-size: larger;
  font-weight: 400;
  margin-bottom: 30px;
}

.search{
  width: 100vh;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input1{
  width: 70%;
  height: 50%;
  background-color: #ffffff;
}

.create1{
  width: 30%;
  height: 53%;
  border-radius: 0;
  background-color: #db0510;
  font-size: 25px
}

.section2 {
  width: 100%;
  height: 70vh;
  background-color: #000000;
  border-top: 8px solid #222222;
  border-bottom: 8px solid #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.text {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.head {
  font-size: 48px;
  font-weight: 600;
  padding-inline: 20px;
  box-sizing: border-box;
}

.description {
  font-size:25px;
  font-weight: 400;
  padding-inline: 20px;
  box-sizing: border-box;
  margin-top: -20px;
}
.tv {
  width: 35%;
  height: 60%;
  background-image: url("./assets/tv.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section3 {
  width: 100%;
  height: 70vh;
  background-color: #000000;
  border-top: 8px solid #222222;
  border-bottom: 8px solid #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

}

.text3 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.head3 {
  font-size: 50px;
  font-weight: 500;
}

.description3 {
  font-size: 30px;
  font-weight: 400;
}

.tv3 {
  width: 35%;
  height: 60%;
  background-image: url("./assets/tv.png");
  border: 2px solid white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section4 {
  width: 100%;
  height: 70vh;
  background-color: #000000;
  border-top: 8px solid #222222;
  border-bottom: 8px solid #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

}

.text4 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.head4 {
  font-size: 50px;
  font-weight: 500;
}

.description4 {
  font-size: 30px;
  font-weight: 400;
}
.tv4 {
  width: 35%;
  height: 60%;
  background-image: url("./assets/tv.png");
  border: 2px solid white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section5 {
  width: 100%;
  height: 70vh;
  background-color: #000000;
  border-top: 8px solid #222222;
  border-bottom: 8px solid #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

}

.text5 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.head5 {
  font-size: 50px;
  font-weight: 500;
}

.description5 {
  font-size: 30px;
  font-weight: 400;
}
.tv5 {
  width: 35%;
  height: 60%;
  background-image: url("./assets/tv.png");
  border: 2px solid white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section6 {
  width: 100vw;
  min-height: 130vh;
  background-color: white;
  background-color: #000000;
  border-top: 8px solid #222222;
  border-bottom: 8px solid #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;

}

.head6 {
  font-size: 50px;
  font-weight: 600;
}

.mail {
  font-size: 20px;
  font-weight: 400;
  margin-top: 90px;
}

.account{
  width: 100vh;
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
}
.input {
  width: 70%;
  height: 25%;
  background-color: #ffffff;
}

.create{
  width: 30%;
  height: 27%;
  border-radius: 0;
  background-color: #db0510;
  font-size: 25px
}

.footer{
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #000000;
}

.title{
  width: 60%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 41px;
  margin-left: 300px;
}

.footer-description{
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 300px;

}


.style{
  font-size: medium;
  font-weight: 400;
  color:#989494;
}

.style2{
  font-size: medium;
  font-weight: 400;
  color:#989494;
}

.style2{
  font-size: medium;
  font-weight: 400;
  color:#989494;
}

.style3{
  font-size: medium;
  font-weight: 400;
  color:#989494;
}


.style4{
  font-size: medium;
  font-weight: 400;
  color:#989494;
}

.language{
  width:10%;
  height: 12%;
  border-radius: 0;
  border: 1px solid white;
  margin-left: 350px;
  font-size: 15px;
  font-weight: 400;
}